---
import taxonomize from '../content/projects/taxonomize.png';
import { Image } from 'astro:assets';
import Tags from './Tags.astro';

const { url, img, alt, description, title, tags } = Astro.props;
---

<section class="w-full p-4 md:w-1/2 lg:w-1/3 min-h-full flex">
	<article
		class="rounded-xl bg-white p-3 shadow-lg duration-100 hover:scale-105 hover:transform hover:shadow-xl grow text-sky-950"
	>
		<a href={url} aria-label="link to project">
			<div class="relative flex items-end overflow-hidden rounded-xl">
				<Image
					src={taxonomize}
					alt={alt}
					format="png"
					width={400}
					height={400}
					loading="eager"
					/>
			</div>
			<div class="mt-1 p-2">
				<h3 class="mb-2 text-xl lg:text-2xl">{title}</h3>
				<p class="text-s">{description}</p>
				<Tags tags={tags} />
			</div>
		</a>
	</article>
</section>